## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df.groupby('APPLICATION_TYPE').size().sort_index(ascending =False)
application_type_counts

APPLICATION_TYPE
T9       156
T8       737
T7       725
T6      1216
T5      1173
T4      1542
T3     27037
T29        2
T25        3
T2        16
T19     1065
T17        1
T15        2
T14        3
T13       66
T12       27
T10      528
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts<10]
# application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace.index:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# # Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df.groupby('CLASSIFICATION').size().sort_index()
classification_type_counts

CLASSIFICATION
C0           3
C1000    17326
C1200     4837
C1230       36
C1234        2
         ...
C7200       32
C7210        7
C8000       20
C8200       11
C8210        1
Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_types_over_one = classification_type_counts[classification_type_counts>1]
print(classification_types_over_one)

CLASSIFICATION
C0           3
C1000    17326
C1200     4837
C1230       36
C1234        2
C1235        9
C1237        9
C1238       10
C1240       30
C1246        2
C1250       14
C1256        2
C1257        5
C1260        3
C1267        2
C1270      114
C1278       10
C1280       50
C1300       58
C1400       34
C1500       16
C1600        5
C1700      287
C1720        6
C1800       15
C2000     6074
C2100     1883
C2300       32
C2400        6
C2700      104
C2710        3
C2800       95
C3000     1918
C3200        2
C4000      194
C4100        6
C5000      116
C6000       15
C7000      777
C7100       75
C7120       18
C7200       32
C7210        7
C8000       20
C8200       11
dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_type_counts[classification_type_counts<10]


# Replace in dataframe
for cls in classifications_to_replace.index:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
display(dummies_df.head())
display(dummies_df.tail())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [10]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [11]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1,stratify=y,test_size=.2)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
units_1 = 16
units_2 = 16

nn = tf.keras.models.Sequential()
input_features = len(X_train_scaled[0])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=units_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=units_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 16)                1152

 dense_10 (Dense)            (None, 16)                272

 dense_11 (Dense)            (None, 1)                 17

=================================================================
Total params: 1,441
Trainable params: 1,441
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
858/858 [==============================] - 4s 2ms/step - loss: 0.6061 - accuracy: 0.6920
Epoch 2/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5581 - accuracy: 0.7263
Epoch 3/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5529 - accuracy: 0.7270
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7291
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7292
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7295
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7306
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7313
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7317
Epoch 10/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7310
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7332
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7327
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7328
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7318
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7316
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7324
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7330
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7336
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7336
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7339
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7329
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7321
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7329
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7324
Epoch 25/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7345
Epoch 26/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7329
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7337
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7342
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7351
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7340
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7332
Epoch 32/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7341
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7337
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7341
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7339
Epoch 36/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7340
Epoch 37/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7339
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7346
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7349
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7341
Epoch 41/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7339
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7345
Epoch 43/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7345
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7358
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7342
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7347
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7349
Epoch 48/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7357
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7354
Epoch 50/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7356

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5476 - accuracy: 0.7398 - 588ms/epoch - 3ms/step
Loss: 0.547642171382904, Accuracy: 0.7397959232330322

In [25]:
# Export our model to HDF5 file
nn_model_hdf5 = "./AlphabetSoupCharity_Optimization.h5"
nn.save(nn_model_hdf5)

print("Model exported to HDF5 file:", nn_model_hdf5)

Model exported to HDF5 file: ./AlphabetSoupCharity_Optimization.h5